<div class="container">

  <div class="jumbotron">
    <h1>Eat-Da-Burger</h1>
    <p>Make the Burgers. Eat the Burgers</p>
    <h2> Make your Burger</h2>
    <input type="text" id="burger" />
    <button class="add-burger">Add Burger</button>

  </div>
</div>
  